{% extends 'AppBundle::page.html.twig' %}
{% block title %}
    {{ parent() }}Home
{% endblock %}
{% block content %}
<div id="homePageContainer">
    <div class="homePageElement">
    {% image '@AppBundle/Resources/public/img/pool_1.jpg' %}
        <a href="{{ path('about') }}"><img class="homePageImage"  src="{{ asset_url }}" alt="About us" />
            </a><span class="imageOverlay">About us</span>

    {% endimage %}
        <h3><a href="{{ path('about') }}">About us</a></h3>
        <strong>South West France Pools</strong>
        specializes in the construction of swimming pools, spas, rockscapes and waterfeatures...
    </div>
    <div class="homePageElement">
    {% image '@AppBundle/Resources/public/img/pool_2.jpg' %}
        <a href="{{ path('showcase') }}"><img class="homePageImage" src="{{ asset_url }}" alt="Showcase" />
            </a><span class="imageOverlay">Showcase</span>
    {% endimage %}
        <h3><a href="{{ path('showcase') }}">Showcase</a></h3>
        Covering a great deal of the west of France here are some of our completed projects.
    </div>
    <div class="homePageElement">
    {% image '@AppBundle/Resources/public/img/pool_3.jpg' %}
        <a href="{{ path('contact') }}"><img class="homePageImage" src="{{ asset_url }}" alt="Contact us" />
            </a><span class="imageOverlay">Contact us</span>
    {% endimage %}
        <h3><a href="{{ path('contact') }}">Contact us</a></h3>
        Contact us for a free quotation and any advice you may need.
    </div>
</div>

    {% block javascripts %}
        {{- parent() -}}
        {% javascripts "@AppBundle/Resources/public/js/imageHover.js"  %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
    {% endblock %}
{% endblock %}